

/* CSS Parcours Section */
.format-topics .block_summary .header .title h2,
.format-magistere_topics .block_summary .header .title h2,
.format-modular .block_summary .header .title h2{
    background: #E86e79;
    color: #fff;
    height: 1.5em;
}

.format-modular .block_summary .header .title h2::before{
    height: inherit;
}

.format-modular .block_summary .header {
    margin-bottom: 15px;
}

.format-topics .block_summary .header .title h2:before,
.format-magistere_topics .block_summary .header .title h2:before,
.format-modular .block_summary .header .title h2:before{
    content:"\f0e8";
}

.format-modular .block_summary .header {
    margin-bottom: 0px;
}

.format-modular .block_summary .moduletitle{
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 10px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.format-modular .block_summary .content ul li a i {
    color: #999999;
    font-size: 20px;
    padding-right: 5px;
    padding-top: 0;
    vertical-align: bottom;
    font-weight: 900;
  }

.format-modular .block_summary .content .arrow:hover {
    cursor: pointer;
}

.format-modular .block_summary .content .arrow {
    font-size: 20px;
    color: #999;
    margin-right: 5px;
    float: left;
}

.format-modular .block_summary .content b .arrow {
    color: black;
}

.format-magistere_topics .block_summary .content,
.format-topics .block_summary .content,
.format-modular .block_summary .content {
    padding: 0 ;
}

.format-topics .block_summary .content ul,
.format-magistere_topics .block_summary .content ul,
.format-modular .block_summary .content ul {
    list-style-type: none;
    padding-left : 0;
}

.format-modular .block_summary .content ul li:first-child {
    padding-top: 15px;
}

.format-modular .block_summary .content a {
    display: block;
    padding-left: 20px;
}

.format-modular .block_summary .content a.hideClass {
    color: #888;
}

@media screen and (min-width: 768px) and (max-width: 1301px) {
    .format-modular .block_summary .module {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.format-modular .block_summary .module {
    display: inline-flex;
    width: 48%;
    box-sizing: border-box;
    background: red;
    height: 100px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.format-modular .block_summary .module .summary-modular-module-completed {
    position : absolute;
    bottom : 3px;
    left : 3px;
    color : #00CC00;
    height: 21px;
    width: 21px;
    padding-top: 0px;
}

.format-modular .block_summary .module .summary-modular-module-completed i {
    position : absolute;
    bottom : 0px;
    left : 0px;
    color : #00CC00;
    font-size : 1.5em;
}

.format-modular .block_summary .content .summary-modular-submodule-completed {
    position : absolute;
    left : -20px;
    color : #00CC00;
    height: 21px;
    width: 21px;
    padding-top: 0px;
}

.format-modular .block_summary .content .summary-modular-submodule-completed i {
    position : absolute;
    left : 0px;
    color : #00CC00;
    font-size : 1.3em;
}

.format-modular .block_summary .module.module-left {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.format-modular .block_summary .module.module-right {
    margin-top: 5px;
    margin-bottom: 5px;
    /*margin-left: 5px;*/
}

.format-modular .block_summary .module a {
    padding-top: 15px;
    width: 100%;
    height: 100%;
}
.format-modular .block_summary .module a {
    padding-left: 0;
}


.format-modular .block_summary .module a:hover{
    color: black;
}

.format-modular .block_summary .module.module-color-1:hover {
    background: #7addfa;
}

.format-modular .block_summary .module.module-color-2:hover {
    background: #ffbd59;
}

.format-modular .block_summary .module.module-color-3:hover {
    background: #ffe866;
}

.format-modular .block_summary .module.module-color-4:hover {
    background: #c99fd5;
}

.format-modular .block_summary .module.module-color-5:hover {
    background: #7ee7d1;
}

.format-modular .block_summary .module.module-color-6:hover {
    background: #fa8b85;
}

.format-modular .block_summary .module.module-color-7:hover {
    background: #ff84a3;
}

.format-modular .block_summary .module.module-color-8:hover {
    background: #b8c1d1;
}

.format-modular .block_summary .module.module-color-hidden:hover {
    background: #c0c0c0;
}

.format-modular .block_summary .module-color-1,
.format-modular .block_summary.module-color-1 .moduletitle{ background: #c9f1fd; }

.format-modular .block_summary .module-color-2,
.format-modular .block_summary.module-color-2 .moduletitle{ background: #ffe0b2; }

.format-modular .block_summary .module-color-3,
.format-modular .block_summary.module-color-3 .moduletitle{ background: #fff7c9; }

.format-modular .block_summary .module-color-4,
.format-modular .block_summary.module-color-4 .moduletitle{ background: #f1e6f4; }

.format-modular .block_summary .module-color-5,
.format-modular .block_summary.module-color-5 .moduletitle{ background: #d9f8f2; }

.format-modular .block_summary .module-color-6,
.format-modular .block_summary.module-color-6 .moduletitle{ background: #feeae9; }

.format-modular .block_summary .module-color-7,
.format-modular .block_summary.module-color-7 .moduletitle{ background: #ffd5df; }

.format-modular .block_summary .module-color-8,
.format-modular .block_summary.module-color-8 .moduletitle{ background: #e8ebf0; }

.format-modular .block_summary .module-color-hidden,
.format-modular .block_summary.module-color-hidden .moduletitle { background: #ececec; }

.format-modular .block_summary .module.module-color-1:hover,
.format-modular .block.module-color-1 .header .title h2 {
    background-color: #2bb0db;
}

.format-modular .block_summary .module.module-color-2:hover,
.format-modular .block.module-color-2 .header .title h2 {
    background-color: #f29611;
}

.format-modular .block_summary .module.module-color-3:hover,
.format-modular .block.module-color-3 .header .title h2 {
    background-color: #eeb92d;
}

.format-modular .block_summary .module.module-color-4:hover,
.format-modular .block.module-color-4 .header .title h2 {
    background-color: #b087c3;
}

.format-modular .block_summary .module.module-color-5:hover,
.format-modular .block.module-color-5 .header .title h2 {
    background-color: #1bbc9b;
}

.format-modular .block_summary .module.module-color-6:hover,
.format-modular .block.module-color-6 .header .title h2 {
    background-color: #ef8d8e;
}

.format-modular .block_summary .module.module-color-7:hover,
.format-modular .block.module-color-7 .header .title h2 {
    background-color: #ff6b91;
}

.format-modular .block_summary .module.module-color-8:hover,
.format-modular .block.module-color-8 .header .title h2 {
    background-color: #a3b4c4;
}

.format-modular .block_summary .module-color-hidden,
.format-modular .block_summary .module.module-color-hidden:hover { background: #ececec; }

.format-modular .block.module-color-hidden .moduletitle {
    background-color: #f7f7f7;
}

.format-modular .block_summary .jumpto {
    background: url([[pix:block_summary|jumpto]]) left center no-repeat;
    padding-left: 40px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.format-modular .block_summary .jumpto select {
    width: 100%;
    margin: 0;
    height: 30px;
}

.format-modular .block_summary .homereturn:before {
    background: url([[pix:block_summary|jumpto]]) left center no-repeat;
    font-size: 30px;
    padding-right: 5px;
    padding-top: 0;
    vertical-align: bottom;
}

.format-modular .block_summary .content hr {
    margin: 8px 0;
}

.format-modular .block_summary .content li {
    position: relative;
}

.format-topics .block_summary .content .sub .check-icon-link ,
.format-magistere_topics .block_summary .content .sub .check-icon-link {
    position : absolute;
    top: 0px;
    left : 40px;
    color : #7f7f7f;
    height: 21px;
    top : 12px;
    width: 21px;
    padding-top: 0px;
}

.format-topics .block_summary .content .check-icon-link ,
.format-magistere_topics .block_summary .content .check-icon-link {
    position : absolute;
    top: 0px;
    left : 9px;
    color : #7f7f7f;
    height: 21px;
    top : 12px;
    width: 21px;
    padding-top: 0px;
}

.format-topics .block_summary .content .check-icon-link:before ,
.format-magistere_topics .block_summary .content .check-icon-link:before {
    content: none !important;
}

.format-topics .block_summary .content .check-icon-link i ,
.format-magistere_topics .block_summary .content .check-icon-link i {
    position : absolute;
    left : 1px;
    margin-top: 5px;
    color : #7f7f7f;
    font-size : 0.9em;
}

.format-modular .block_summary .homereturn {
    border-top: 1px solid #e6e6e6;
    background-color: #FAFAFA;
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 10px;
    height: 51px;
}

.format-modular .block_summary .homereturn a {
    background: url([[pix:block_summary|return_arrow]]) left top no-repeat;
    display: block;
    color: #0095db;
    height: 24px;
    padding-left: 30px;
    padding-top: 2px;
    font-size: 10pt;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 20px;
}

.format-topics .block_summary .content ul li a.summary_arrow + a:before,
.format-magistere_topics .block_summary .content ul li a.summary_arrow + a:before {
    content: "" !important;
    padding: 0;
}

.format-topics .block_summary .content p ,
.format-magistere_topics .block_summary .content p {
    position: relative;
}

.format-topics .block_summary .content ul li,
.format-magistere_topics .block_summary .content ul li{
    border-bottom: solid 1px #E6E6E6;
}

.format-topics .block_summary .content ul li ul>li,
.format-magistere_topics .block_summary .content ul li ul>li,
.format-topics .block_summary .content ul.editbutton li,
.format-magistere_topics .block_summary .content ul.editbutton li,
.format-modular .block_summary .content ul.editbutton li {
    border:none;
}

.format-topics .block_summary .content ul.editbutton,
.format-magistere_topics .block_summary .content ul.editbutton,
.format-modular .block_summary .content ul.editbutton {
    margin: 0;

    margin-top: 10px;

    padding: 0 25px 10px 25px;
}

.format-topics .block_summary .content ul.editbutton li,
.format-magistere_topics .block_summary .content ul.editbutton li,
.format-modular .block_summary .content ul.editbutton li {
    padding: 0;
    text-align: right;
}

.format-topics .block_summary .content ul.editbutton li a,
.format-magistere_topics .block_summary .content ul.editbutton li a,
.format-modular .block_summary .content ul.editbutton li a {
    color: #0095db;
}

.block_summary .dd-list button {
    border: none;
}

#region-main .block_summary .editinput {
    height: 24px;
    padding: 0 6px;
    width: 450px !important;
}

.format-modular .block_summary .header .title h2 a {
    color: white;
}

#region-main .block_summary .hideClass,
#region-main .block_summary .hideClass button,
#region-main .block_summary .hideClass .dd-handle {
    color: #BBB !important;
}

#region-main .block_summary .hideClass button.hascontent {
    filter: invert(0.75);
    -webkit-filter: invert(0.75);
}

.format-topics .block_summary .header .title ,
.format-magistere_topics .block_summary .header .title {
    position: relative;
}

.format-topics .block_summary .header .title h2 a ,
.format-magistere_topics .block_summary .header .title h2 a {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 35px;
    padding-top: 11px;
    padding-left: 57px;
    color: white;
    height : 30px;
}

#page-blocks-summary-edit ol#dialog-confirm-save-list {
    list-style-type: disc;
}

/* editors dialog style */
#dialog-editors {
    overflow-y: scroll;
}

#dialog-editors-edit {
    float:right;
    background:none;
    border: none;
    box-shadow: none;
    color:#4f4f4f;
}

#dialog-editors-cancel {
    background: #0095db;
    color: #fff;
    text-shadow: none;
    padding: 10px 16px;
    border: 0;
    transition: background 0.5s;
}

#dialog-editors-cancel:hover {
    background: #4f4f4f;
}

.dialog-editors-titlebar .ui-dialog-titlebar-close {
    display: none;
}

.format-topics .block_summary .summary_arrow ,
.format-magistere_topics .block_summary .summary_arrow,
.format-topics .block_summary .summary_arrow ,
.format-magistere_topics .block_summary .summary_arrow {
    position: absolute;
    top:  12px;
    right: 12px;
}

.format-topics .block_summary  .content .eyeicon,
.format-magistere_topics .block_summary  .content .eyeicon {
    position: absolute;
    top: 17px;
    right: 38px;
    font-size: 15px;
    color : #727272;
}

.format-topics .block_summary .content .lockicon,
.format-magistere_topics .block_summary  .content .lockicon {
    position: absolute;
    top: 17px;
    right: 38px;
    font-size: 15px;
    color : #727272;
}

.format-topics .block_summary .sub .lockicon,
.format-magistere_topics .block_summary .sub  .lockicon {
    right: 38px;
}

.format-topics .block_summary .plusicon,
.format-magistere_topics .block_summary .plusicon,
.format-topics .block_summary .minusicon,
.format-magistere_topics .block_summary .minusicon {
    padding-top: 5px;
}

.format-topics .block_summary .content li.completed a ,
.format-magistere_topics .block_summary .content li.completed a {
    color : #727272 ;
}

.format-topics .block_summary .content .is_active  > p > a ,
.format-magistere_topics .block_summary .content .is_active > p > a {
    font-weight: bold;
    color: #000 !important;
}

.format-topics .block_summary .content .is_active  > p > a:first-of-type:before,
.format-magistere_topics .block_summary .content .is_active > p > a:first-of-type:before {
    font-family: "FontAwesome";
    content: "\f111";
    color: #E86E7A;
    position: absolute;
    left: 9px;
    font-size: 8px;
}

.format-topics .block_summary .content .sub.is_active  > p > a:first-of-type:before,
.format-magistere_topics .block_summary .content .sub.is_active > p > a:first-of-type:before {
    left: 40px;

}

.format-topics .block_summary .content ul li ,
.format-magistere_topics .block_summary .content ul li {
    line-height: 20px;
}

.format-topics .block_summary .content .is_active,
.format-magistere_topics .block_summary .content .is_active,
.format-topics .block_summary .content .child_is_active,
.format-magistere_topics .block_summary .content .child_is_active {
    background-color: #FDF0F1;
}

.format-topics .block_summary .content ul li a i.plusicon,
.format-magistere_topics .block_summary .content ul li a i.plusicon,
.format-topics .block_summary .content ul li a i.minusicon,
.format-magistere_topics .block_summary .content ul li a i.minusicon {
    color : #E86E7A;
    font-size: 16px;
    vertical-align: bottom;
}

.format-topics .block_summary .content ul,
.format-magistere_topics .block_summary .content ul {
    margin : 0;
    list-style-type: none;
}

.format-topics .block_summary .content ul li > p,
.format-magistere_topics .block_summary .content ul li > p {
    cursor: pointer;
    padding: 12px 60px 10px 25px;
    margin-bottom: 0px;
}

.format-topics .block_summary .content ul li p:hover,
.format-magistere_topics .block_summary .content ul li p:hover {
    background-color: #FAD6D9;
}

.format-topics .block_summary .content ul li ul li > p,
.format-magistere_topics .block_summary .content ul li ul li > p {
    cursor: pointer;
    padding: 12px 60px 10px 60px;
    margin-bottom: 0px;
}

.format-magistere_topics .block_summary .content ul li a:hover,
.format-topics .block_summary .content ul li a:hover {
    color : initial;
}

.format-magistere_topics .block_summary .content ul li a,
.format-topics .block_summary .content ul li a {
    color: #333;
    text-decoration: none;
}

.format-magistere_topics .block_summary .card-body ,
.format-topics .block_summary .card-body {
    color: #333;
    text-decoration: none;
}

.format-topics .block_summary .content ul li ,
.format-magistere_topics .block_summary .content ul li {
    line-height: 20px;
}

.format-topics .block_summary .card-title ,
.format-magistere_topics .block_summary .card-title {
    padding-left: 20px;
}

.format-topics .block_summary .card-body ,
.format-magistere_topics .block_summary .card-body {
    padding: 20px 0 0 0;
}

.format-topics .block_summary .block-controls ,
.format-magistere_topics .block_summary .block-controls {
    padding-right: 20px;
}

